.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*________________________________блок header_____________________________*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
}

/*логотип - верхний левый угол*/
.logo {
  width: 228px;
  height: 32px;
  font-size: 25px;
  font-weight: 700;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 6;  /*количество элементов у header, этот элемент будет выше всех*/
}

/*основной заголовок на странице*/
.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  margin: 0 0 0 64px;
  z-index: 6;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 6;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

/*____________________________секция 2, блок description__________________*/

.description {
  display: flex;
  width: 80%;
  margin: 100px auto 0 auto;
}

.two_columns {
  display: flex;
  justify-content: space-between;
}

.two_columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
}

.two_columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two_columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}

/* последняя строка должна быть без отступа снизу */
.two_columns__paragraph:nth-of-type(3) {
  margin-bottom: 0;
}

.two_columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/*____________________________секция 3, блок digits___________________________*/

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}

.section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 100px 0 0 0;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: 20px 0 0 0;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin-bottom: 100px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 0;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

/*____________________________секция 4, блок feynman___________________________*/

.feynman {
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position: relative;
}

.feynman__title {
  display: flex;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  margin: 100px 0 0 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  margin: 0 48px 0 0;
  position: absolute;
  top: 50%;
  right: 0;
  text-decoration: none;
  color: #2f80ed;
}

/*____________________________секция 5, блок kaufman___________________________*/

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
  margin: 90px 0 0 0;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #fff;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  z-index: 0;
}

/*________________________________блок footer___________________________*/

.footer {
  display: flex;
  justify-content: center;
  background-color: #000;
  min-height: 350px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: relative;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

/* у flex умолчательное значение left bottom, поэтому в классах
.footer__column_content_info и .footer__column_content_social его можно
не переопределять */

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  color : white;
  line-height: 25px;
  font-size: 18px;
  margin: 18px 0 18px 0;
}

.footer__column-heading {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  margin: 20px auto 16px auto;
  padding: 0;
  list-style: none;
}

.footer__social_icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
}
